
<h4>Popular Tags</h4>
<p>Click on a tag to filter the results by that tag:</p>
<br />
<ul id="tag-list">
  <% Tag.all.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag.name) %></li>
  <% end %>
</ul>

